
.list-group-item {
    cursor: pointer;
    color: #053257;
}
.list-group-item:hover {
    background-color: #053257;
    color: white;
}
.weather {
   cursor: pointer;
}
.country::after {
      content: "";
    display: block;
    background: url(https://images.squarespace-cdn.com/content/v1/5c8037c77a1fbd35eda4775c/1657059518776-AMHXXOL5TTHO6KSI9A4M/Header+Background.png?format=1500w) no-repeat center/cover;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 48px;
    z-index: -1;
}
.top {
    position: relative;
    padding: 0 18px;
}
.city-info {
    display: flex;
    justify-content: space-between;
    margin: 12px 0px 0 18px;
}
.top-left {
    max-width: 60%;
}
.city {
    width: max-content;
}
.city-subtitle {
    font-size: 18px;
    line-height: 32px;
    color: white;
}
.city-title {
    background: #a6d7ff;
    border-radius: 8px;
    font-weight: 700;
    font-size: 40px;
    line-height: 41px;
    color: white;
    padding: 9px 18px;
    margin-top: 6px;
    cursor: pointer;
    width: max-content;
}
.city-info_subtitle {
    font-size: 16px;
    line-height: 15px;
    color: white;
}
.city-info_title {
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    color: white;
}
.description {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: white;
    margin: 0 0px 0 15px;
}
.top-right {
    text-align: right;
    margin: 20px 12px 0 0px;
}
.icon {
    width: 95px;
    height: 95px;
}
.property {
    width: 50%;
    display: flex;
    align-items: center;
}
.property-icon {
    width: 50px;
    margin-right: 10px;
}
.property-info-value {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #053257;
}
.property-info-description {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #a6d7ff;
    margin-top: 3px;
}
#properties {
    position: relative;
    z-index: 1;
    padding: 18px;
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}
.city-info_title_sec {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: white;
    margin-bottom: 36px ; 
}
.city-title-sec {
    background: #a6d7ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    color: white;
    padding: 6px 15px;
    margin-top: 6px;
    cursor: pointer;
    width: max-content;
}
.city-info_subtitle_sec {
    margin: 5px 0 20px 0;
    font-size: 12px;
    line-height: 12px;
    color: white;
}
.property-info-description-sec {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #a6d7ff;
    margin-top: 3px;
}
.container_label {
    display: block;
    position: relative;
    padding: 1px;
    margin: 22px 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: white;
    user-select: none;
}
.container_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} 
.create {
    margin-bottom: 10px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container_label:hover input ~ .checkmark {
  background-color: #ccc;
}
.container_label input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container_label input:checked ~ .checkmark:after {
  display: block;
}
.container_label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}